# Name: Trait
#

Plugins>Trait_>PowerLawTransform, "GPLT", GPLT
Plugins>Trait_>PowerLawTransform, "APLT", APLT
Plugins>Trait_>PowerLawTransform, "AdPLT", AdPLT
Plugins>Trait_, "-"
Plugins>Trait_>Holder Exponent, "Holder Exponent", HoldExpo
#Plugins>Trait_, "Create RoA", MacroJAR("Macro/Tools/region_of_interest.ijm")
